.body, html {
    background-color: #370617;
}

.container {
    /* can't seem to figure out proper method of aligning
    boxes according to example 
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 98px 90px 98px 90px;
    position: relative; */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #370617;
}

.box-one{
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-one__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.box-two{
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-two__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.box-three {
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-three__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.box-four {
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-four__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.box-five {
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-five__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.box-six {
    /* height: 160px;
    width: 468px;
    background-color: #F48C06;
    border-radius: 8px;
    justify-content: center;
    margin:20px 20px 20px 20px; */
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #F48C06;
    border-radius: 5px;
}

/*
.one {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 40px;
}
*/

.box-six__sq {
    height: 85px;
    width: 85px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}